@import "mixin";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;
}

a {
  text-decoration: none;
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
}

.scene {
  width: 100%;
  height: 100%;
  perspective: 400px;
  -webkit-perspective: 400px;
}

.scene > ul {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.scene:hover ul {
  transform: rotate3d(1, 1, 0, 360deg);
}

.scene > ul > li {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* 上 */
.scene > ul > li:nth-child(1) {
  transform-origin: top;
  transform: rotateX(90deg);
  /*background-image: url(../img/tian5.jpg);*/
  /*background-size: cover;*/
}

/* 左 */
.scene > ul > li:nth-child(2) {
  background: #EAEAEC;
  transform-origin: left;
  transform: rotateY(-90deg);
  /*background-image: url(../img/bg2.jpg);*/
  background-size: 100% 100%;

}

/* 下 */
.scene > ul > li:nth-child(3) {
  transform-origin: bottom;
  transform: rotateX(-90deg);
  /*background-image: url(../img/floor.jpg);*/
  background-size: 100% 100%;

}

/* 右 */
.scene > ul > li:nth-child(4) {
  background: #E9E9E9;
  transform-origin: right;
  transform: rotateY(90deg);
  /*background-image: url(../img/bg3.jpg);*/
  background-size: 100% 100%;
}

/* 后 */
.scene > ul > li:nth-child(5) {
  background: #E9E9E9;
  transform: translateZ(100px);
  /*background-image: url(../img/bg4.jpg);*/
  background-size: 100% 100%;

}

/* 前 */
.scenes > ul > li:nth-child(6) {
  /*background: lightskyblue;*/
  background: #ffffff;
  //background: #1E98D4;
}

.box > li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  position: relative;
}

.center {
  @include rect(95%, 95%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-size: 100% 100%;
}

.top .center {
  //background-image: url(../img/tian5.jpg);
  background-image: url(../img/a119.jpg);
  //background-size: 270px 270px;
  transform: rotateY(180deg);
}

.left .center {
  //background-image: url(../img/a29.jpg);
  background-image: url(../img/qian2.jpg);
  transform: rotateY(180deg);
  font-size: 40px;
  text-align: center;
  position: relative;
  span{
    position: absolute;
    left:44%;
    top:30px;
    color: #fff;
    font-size: 40px;
  }
  .zuopins {
    @include rect(100%, 100%);
    @include flex1;
    z-index: 10;
    position: absolute;
    top:0;
    left:0;
    li {
      position: relative;
      z-index: 11;
      @include rect(150px, 150px);
      @include flex1;
      //border-radius: 50%;
      transition: all 0.5s ease;
      img {
        @include rect(100%, 100%);
        z-index: 12;
        transition: all 0.5s ease;
      }
      .pic{
        @include rect(65%, 65%);
        background: #FFFFFF;
      }
      .yuan{
        border-radius: 50%;
        @include rect(95%, 95%);
      }
      .rotate{
        @include rect(120%, 120%);
        position: absolute;
        animation-name: animation1;
        animation-play-state: running;
        /* 进去直接播放 */
        animation-iteration-count: infinite;
        /* 动画 无限播放次数 */
        animation-duration: 1.8s;
        /* 必须 动画时间 */
        animation-timing-function: linear;
      }
      a {
        @include rect(100%, 100%);
        @include position(0, 0);
        bottom: 0;
        right: 0;
        margin: auto;
        transition: all 0.5s ease;
        opacity: 0;
      }
    }
    .ktv{@include position(25%,23%);}
    .home{@include position(45%,34%);}
    .book{@include position(25%,45%);}
    .blog{@include position(45%,56%);}
    .news{@include position(25%,67%);}
    .music{@include position(5%,2%);}
    .huaban{@include position(24%,2%);}
    .dazi{@include position(43%,2%);}
    .wuziqi{@include position(61%,2%);}
    .puke{@include position(79%,2%);}
    .mi{@include position(5%,87%);}
    .uke{@include position(24%,87%);}
    .tmall{@include position(43%,87%);}
    .tmall2{@include position(61%,87%);}
    .apple{@include position(79%,87%);}
  }
}
.left > .center >img{
    animation-name: animation1;
    animation-play-state: running;
    /* 进去直接播放 */
    animation-iteration-count: infinite;
    /* 动画 无限播放次数 */
    animation-duration: 1.8s;
    /* 必须 动画时间 */
    animation-timing-function: linear;

}

.left > .center > .zuopins > li:hover {
  @include rect(160px, 160px);
  z-index: 110;
  img {
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.5s ease;
  }
  a {
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    line-height: 150px;
    color: #ffffff;
    z-index: 110;
    position: absolute;
  }
}

.bot .center {
  //background-image: url(../img/a5.jpg);
  //background-image: url(../img/a51.jpg);
  background-image: url(../img/a117.jpg);
  opacity: 0.9;
  transform: rotateY(180deg);
}

.right .center {
  background-image: url(../img/a29.jpg);
  //background-image: url(../img/a17.jpg);
  transform: rotateY(180deg);
  @include flex1;
  #mainMap{
    width: 100%;
    height:100%;
    transform: scale(1.4,1.3);
  }

}

@keyframes animation1{
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.back .center {
  //background-image: url(../img/a9.jpg);
  background-image: url(../img/a13.jpg);
  transform: rotateY(180deg);
  cursor: pointer;
}

.front .center {
  //background-image: url(../img/qian2.jpg);
  background-image: url(../img/a31.jpg);
  @include flex1;
  .describe {
    //background: #F6F6F6;
    @include flex1;
    flex-direction: column;
    @include rect(700px, 96%);
    margin-bottom: 18px;
    .foot {
      font-size: 44px;
      @include flex1;
      @include rect(100%, 16%);
      color: #ffffff;
    }
    .main {
      @include flex1;
      @include rect(100%, 54%);
      padding-top: 2%;
      .pic {
        @include rect(340px, 100%);
        img {
          @include rect(300px, 300px);
        }
      }
      .jieshao {
        @include rect(300px, 100%);
        @include flex1;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 50px;
        span {
          font-size: 28px;
          color: #ffffff;
        }
      }
    }
    p{
      font-size: 32px;
      font-weight: bold;
      @include rect(100%, 14%);
      @include flex1;
      color: #fff;
    }

  }
}