/*
* @Author: Administrator
* @Date:   2017-03-20 15:44:28
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-01 11:14:19
*/

img{
	display: block;
}

*{
	text-decoration: none;
	margin: 0;
	padding: 0;
	list-style: none;
}



nav{
	width: 100%;
	height: 44px;
	background: #323232;
	background: rgba(0, 0, 0, 0.8);
}

/* CON1 */
nav .con1{
	width: 1000px;
	margin: 0 auto;
	text-align: justify;
	padding: 0 20px;
	height: 44px;
	box-sizing: border-box;
	/* 盒子加padding后边框超出屏幕，加box-sizing来改变模型，使其占满框 */
}

nav .con1 a{
	display: inline-block;
	/* 行内块元素   针对汉字，不让汉字分开 */
	line-height: 44px;
	color: #fff;
	text-decoration: none;
}

nav .con1 a:hover{
	color: #BCBCBC;
}

nav .con1:after{
	content: "";
	display: inline-block;
	/* 两端对齐默认给最后加了一行 */
	height: 0;
	width: 100%;
}









/* CON2 */
nav .con2{
	width: 100%;
	height: 44px;
	background: #323232;
	text-align: justify;
	padding: 0 20px;
	box-sizing: border-box;
	display: none;
}
nav .con2 a{
	display: inline-block;
	/* 行内块元素   针对汉字，不让汉字分开 */
	line-height: 44px;
	/* font-size: 44px; */
	color: #fff;
	text-decoration: none;
}

nav .con2 a:hover{
	color: #BCBCBC;
}

nav .con2:after{
	content: "";
	display: inline-block;
	/* 两端对齐默认给最后加了一行 */
	height: 0;
	width: 100%;
}




















/*  banner轮播图  */

nav .banner1{
	width: 100%;
	height: 480px;
	padding-top: 36px;
	background: #CC3341;
	float: left;
	position: relative;
	overflow: hidden;
}
nav .banner1 .banner-img{
	width:100% ;
	height: 540px;
	background-image: url(../img/iphone7_large.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center 150px;
	display: block;
	/* position: absolute; */
}

nav .banner1 a{
	text-align: center;
}
nav .banner1 a h1{
	width: 49px;
	height: 24px;
	font-size: 12px;
	border: 1px solid #fff;
	color: #fff;
	line-height: 24px;
	margin: 0 auto;
}
nav .banner1 a h2{
	font-size: 30px;
	color: #fff;
	line-height: 24px;
	margin: 0 auto;
	margin-top: 20px;
}
nav .banner1 a h3{
	font-size: 38px;
	color: #fff;
	line-height: 24px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 11px;
}
nav .banner1 .banner-img .left{
	height: 100%;
	width: 300px;
	position: absolute;
	top: 0;
	left: 0;
	/* background: blue; */
}
nav .banner1 .banner-img .right{
	height: 100%;
	width: 300px;
	position: absolute;
	top: 0;
	right:  0;
	/* background: blue; */
}
.banner-img .left .left1{
	width: 64px;
	height: 64px;
	background: #C94652;
	border-radius: 50%;
	line-height: 64px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 20px;
	margin: auto;
	text-align: center;
	font-size: 50px;
	opacity: 0;
	transition: all 1s;
}
.banner-img .left:hover .left1{
	opacity: 1;
}
.banner-img .left .left1:hover{
	opacity: 1;
	background: #C53A47;
}
.banner-img .right .right1{
	width: 64px;
	height: 64px;
	background: #C94652;
	border-radius: 50%;
	line-height: 64px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 20px;
	margin: auto;
	text-align: center;
	font-size: 50px;	
	opacity: 0;
	transition: all 1s;

}
.banner-img .right:hover .right1{
	opacity: 1;
}
.banner-img .right .right1:hover{
	opacity: 1;
	background: #C53A47;
}
/* <!-- banner图 结束 --> */












.bottom{
	height: 421px;
	width: 100%;
	float: left;
	background: #F2F2F2;
}

.bottom .bot1{
	width: 980px;
	height: 50px;
	/* background: red; */
	border-bottom:  1px solid #D6D6D6;
	margin: 0 auto;
}


.bottom .bot1 span{
	line-height: 50px;
	font-size: 12px;
	color: #888888;
}


/* <!-- 底栏 信息 --> */
.bottom .bot2{
	width: 1000px;
	height: 205px;
	margin: 0 auto;
	padding-top: 10px;
	padding-left:  10px;
	box-sizing: border-box;
}
.bottom .bot2 ul li{
	width: 196px;
	height: 201px;
	float: left;
	font-size: 12px;
}
.bottom .bot2 ul li span{
	height: 30px;
	margin-bottom:15px;
	line-height: 30px;
	color: #333333;
}
.bottom .bot2 ul li a{
	display: block;
	height: 13px;
	margin-bottom:7px;
	color: #555555;
}
.bottom .bot2 ul li a:hover{
	text-decoration: underline;
}





/* <!-- 更多信息 最底部 --> */
.bottom .gengduo{
	width: 980px;
	height:54px;
	/* background: red; */
	margin: 0 auto;
	padding-top: 34px;
	padding-bottom: 21px;
}
.bottom .gengduo .gengduo1{
	width: 980px;
	height:17px;
	/* background: red; */
	margin: 0 auto;
	padding-bottom: 6px;
	border-bottom: 1px solid #D6D6D6;
	margin-bottom:7px;
}
.bottom .gengduo .gengduo1 span{
	font-size: 12px;
	color: #888888;
}
.bottom .gengduo .gengduo1 a{
	font-size: 12px;
	color: #0070C9;
}
.bottom .gengduo .gengduo2{
	width: 980px;
	height:23px;
	/* background: red; */
	margin: 0 auto;
	margin-bottom:0px;
}
.bottom .gengduo .gengduo2 span{
	font-size: 12px;
	color: #888888;
	float: left;
}
.bottom .gengduo .gengduo2 ul li{
	font-size: 12px;
	float: left;
	color: #888888;
}
.bottom .gengduo .gengduo2 ul li a{
	/* font-size: 12px; */
	/* float: left; */
	color: #555555;
}
.bottom .gengduo .gengduo2 ul li span{
	font-size: 12px;
	float: left;
	margin: 0 5px;
	color: #888888;
}
.bottom .gengduo .gengduo3{
	width: 980px;
	height:17px;
	/* background: red; */
	margin: 0 auto;
	margin-bottom:20px;
}
.bottom .gengduo .gengduo3 span{
	font-size: 12px;
	color: #888888;
	float: left;
}








.bottom .botaa{
	width: 100%;
	height: auto;
	margin-right: 20px;
	box-sizing: border-box;
}
.bottom .botab{
	width: 100%;
	height: 290px;
	margin-right: 20px;
}
.bottom .botab li{
	width: 100%;
	height: 38px;
	border-bottom: 1px solid #000;
	line-height: 38px;
	position: relative;
	margin-right: 20px;
}

.bottom .botac{
	width: 100%;
	height: auto;
	position: absolute;
	display: none;
	z-index: 10;
	margin-right: 20px;
}

.bottom .botab li:hover .botac{
	display: block;
}
.bottom .botac li {
	width: 100%;
	height: 20px;
	background: #ccc;
	margin-right: 20px;
}

.bottom .botad{
	font-size: 14px;
	float: right;
	margin-right: 20px;
}































@media screen and (max-width: 770px){
	nav .con2{
		display: block;
	}

	nav .con1 {
		display: none;
	}

	nav .banner1{
		width: 100%;
		height: 480px;
		padding-top: 36px;
		background: #CC3341;
		float: left;
		position: relative;
		overflow: hidden;
	}
	nav .banner1 .banner-img{
		width:100% ;
		height: 540px;
		background-image: url(../img/iphone7_small.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center 150px;
		display: block;
		/* position: absolute; */
		}

	.pic{
		width: 100%;
		height: 200px;
		/* background: green; */
		box-sizing: border-box;
	}

	.pic .pic1{
		width: 100%;
		height: 200px;
		float: left;
		margin-bottom: 1px;
		margin-top: 3px;
		margin-right: 0;
		margin-left: 0;
		background-image: url(../img/w_small.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		box-sizing: border-box;
	}
	.pic .pic2{
		width: 100%;
		height: 200px;
		float: left;
		margin-bottom: 1px;
		margin-top: 1px;
		margin-right: 0;
		margin-left: 0;
		background-image: url(../img/i_small.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		box-sizing: border-box;
	}
	.pic .pic3{
		width: 100%;
		height: 200px;
		float: left;
		margin-bottom: 1px;
		margin-top: 1px;
		margin-right: 0;
		margin-left: 0;
		background-image: url(../img/a_small.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		box-sizing: border-box;
	}
	.pic .pic4{
		width: 100%;
		height: 200px;
		float: left;
		margin-bottom: 1px;
		margin-top: 1px;
		/* margin-right: -0.33%; */
		/* margin-left: -0.33%; */
		margin-right: 0;
		margin-left: 0;
		background-image: url(../img/s_small.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		box-sizing: border-box;
	}




	.bottom{
		height: 421px;
		width: 100%;
		float: left;
		background: #F2F2F2;
		box-sizing: border-box;
	}

	.bottom .bot1{
		width: 100%;
		height: 50px;
		/* background: red; */
		border-bottom:  1px solid #D6D6D6;
		margin: 0 auto;
	}


	.bottom .bot1 span{
		line-height: 50px;
		font-size: 12px;
		color: #888888;
	}


	/* <!-- 底栏 信息 --> */
	.bottom .bot2{
		display: none;
	}



	.bottom .bot21{
		width: 100%;
		padding-left: 2%;
		height: auto;
		margin-top: 20px;
		margin-right: 20px;
		box-sizing: border-box;
		display: block;
		/* background: red; */
	}
	.bottom .bot22{
		width: 100%;
		height: 290px;
		margin-right: 20px;
	}
	.bottom .bot22 li{
		width: 100%;
		height: 38px;
		border-bottom: 1px solid #D6D6D6;
		line-height: 38px;
		position: relative;
		margin-right: 20px;
		font-size: 12px;
	}

	.bottom .bot23{
		width: 100%;
		/* height: 14px; */
		position: absolute;
		display: none;
		z-index: 10;
		/* color: #555555; */
		margin-right: 20px;
		/* background: #D6D6D6; */
	}

	.bottom .bot22 li:active .bot23{
		display: block;
		/* color: #555555; */
	}
	.bottom .bot23 li {
		width: 100%;
		height: 20px;
		line-height: 18px;
		background: #F2F2F2;
		margin-right: 20px;
		
	}
	.bottom .bot23 li a{
		color: #555555;
	}

	.bottom .bot24{
		font-size: 14px;
		float: right;
		margin-right: 20px;
	}
	



	/* <!-- 更多信息 最底部 --> */
	.bottom .gengduo{
		width: 100%;
		height:54px;
		/* background: red; */
		margin: 0 auto;
		padding-top: 34px;
		padding-bottom: 21px;
	}
	.bottom .gengduo .gengduo1{
		width: 100%;
		height:17px;
		/* background: red; */
		margin: 0 auto;
		padding-bottom: 6px;
		border-bottom: 1px solid #D6D6D6;
		margin-bottom:7px;
		overflow: hidden;
	}
	.bottom .gengduo .gengduo1 span{
		font-size: 12px;
		color: #888888;
	}
	.bottom .gengduo .gengduo1 a{
		font-size: 12px;
		color: #0070C9;
	}
	.bottom .gengduo .gengduo2{
		width: 100%;
		height:23px;
		margin: 0 auto;
		margin-bottom:0px;
	}
	.bottom .gengduo .gengduo2 span{
		font-size: 12px;
		color: #888888;
		/* width: 100%; */
		/* float: left; */
	}
	.bottom .gengduo .gengduo2 ul li{
		font-size: 12px;
		float: left;
		color: #888888;
	}
	.bottom .gengduo .gengduo2 ul li a{
		color: #555555;
	}
	.bottom .gengduo .gengduo2 ul li span{
		font-size: 12px;
		float: left;
		margin: 0 5px;
		color: #888888;
	}
	
	.bottom .gengduo .gengduo2 .china{
		width: 100%;
		height: 23px;
		float: left;
	}
	.bottom .gengduo .gengduo2 .china a{
		float: left;
		font-size: 12px;
		color: #888888;
	}
	.bottom .gengduo .gengduo2 .china img{
		float: left;
	}
	.bottom .gengduo .gengduo3{
		width: 100%;
		height:17px;
		margin: 0 auto;
		margin-bottom:20px;
	}
	.bottom .gengduo .gengduo3 span{
		font-size: 12px;
		color: #888888;
		float: left;
	}


}






