
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1491750389010'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1491750389010#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1491750389010') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1491750389010') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1491750389010#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon1:before { content: "\e608"; }

.icon-help-tel:before { content: "\e638"; }

.icon-qiekong:before { content: "\e628"; }

.icon-liaotian:before { content: "\e750"; }

.icon-yuanhuan:before { content: "\e69a"; }

.icon-cuohao:before { content: "\e605"; }

.icon-duanxin:before { content: "\e63e"; }

